/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.modal {
    position: absolute;
    /* o absolute */
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

th,
td {
    padding: 2px;
    font-size: 14px;
}

thead {
    font-size: 14px;
}

tr:nth-child(even) {
    background: linear-gradient(to right, #e4e6e7, #caced3, #c4cacf);
}

.btn-xs {
    padding: 0.10rem;
}

.btn-xs-xs {
    position: relative;
    top: 30px;
    left: 240px;
    padding: 0.25rem;
    background-color: rgb(105, 107, 107);
    border-radius: 5px;
}

.modal-content {
    border-top: 40px solid #3c5b72;
    border-bottom: 30px solid #3c5b72;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 14px;
}

.form-login_imagen {
    position: relative;
    top: 50px;
    width: 600px;
    background: linear-gradient(to right, #657583, #a9b6c2, #5e6d7a);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    box-shadow: 7px 13px 37px rgb(250, 246, 246);
    padding: 20px 20px;
    border-top: 2px solid #496a77;
    ;
    color: white;
    border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    border: 1px double;
}

.form-login_imagen {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s, transform 5.5s;
}

.form-login_imagen.mostrar {
    opacity: 1;
    transform: translateY(0);
}

.fondo {
    border-top: 5px solid #496a77;
    border-radius: 10px 10px 10px 10px;
}